<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.first.mvc.BaseMapper">
 
 
  <select id="getCountId" resultType="integer">
    SELECT count(*) id FROM hong.iamkayList where id
  </select>
  
</mapper>